<h2>Comments for <%= @submission.title %></h2>
  <% if current_user %>
    <p><%= link_to "Create Comment", new_comment_url(submission_id: @submission.id)  %></p>
  <% end %>
<ul>
  <% @comments.each do |comment|  %>
  <li>
    <ul>
      <% comment_user = comment.user %>
      <li class="comment_user"><%= comment_user.username %></li>
      <li class="comment"> <%= comment.comment %></li>
      <% if current_user&.id == comment_user&.id %>
        <li><%= link_to "Delete", "/comments/#{comment.id}", method: 'delete' %></li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>
