<h2>Comments for <%= @submission.title %></h2>
  <% if current_user %>
    <p><%= link_to "Create Comment", new_comment_url(submission_id: @submission.id)  %></p>
  <% end %>
<ul>
  <% @comments.each do |comment|  %>
  <li>
    <ul>
      <li><%= comment.user.username %></li>
      <li><%= comment.comment %></li>
      <li><%= link_to "Delete", "/comments/#{comment.id}", method: 'delete' %></li>
    </ul>
  </li>

  <% end %>
</ul>
