
<% if current_user %>
  <%= link_to "Create Submission", new_submission_url %>
<% end %>

<ol>
  <% @submissions.each do |sub| %>
  <li>
    <img class="submission_pic" src="<%= sub.pic_url %>" >
      <%= link_to sub.title, sub.link, class: "link_title" %>
      <% if current_user&.id == sub.user&.id %>
        <%= link_to "Delete", "/submissions/#{sub.id}", method: 'delete' %>
      <% end %>
  </li>
    <ul >
      <li class="submission_info"> submitted by <%= sub.user.username %></li>
      <% number_of_comments = sub.comments.length%>
      <li class="submission_info">
        <%= link_to "#{number_of_comments} " "Comments", comments_url(submission_id: "#{sub.id}")  %>
      </li>
    </ul>
  <% end %>
</ol>
