
<% if @user %>
  <%= link_to "Create Submission", new_submission_url %>
  <%= link_to "Sign Out", "/sessions", method: "delete" %>
  <p>Hello <%= @user.username %></p>
<% end %>

<ol>
  <% @submissions.each do |sub| %>
  <li>
    <img src="<%= sub.pic_url %>" >
    <%= link_to sub.title, sub.link %>
      <%= link_to "Delete", "/submissions/#{sub.id}", method: 'delete' %>
  </li>
    <ul>
      <li>submitted by <%= sub.user.username %></li>
      <% number_of_comments = sub.comments.length%>
      <li><%= link_to "#{number_of_comments} " "Comments", comments_url(submission_id: "#{sub.id}")  %></li>
    </ul>
  </li>
  <% end %>
</ol>
